body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: slateblue;
}

.center-container {
  text-align: center;
}

.toDoForm {
  margin-bottom: 20px;
}

.input-container {
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  width: 70%; 
  margin: 1 auto; 
}

.inputToDo {
  flex-grow: 1;
  border: 1px solid #ccc; 
  border-radius: 20px; 
  padding: 10px 15px; 
  min-width: 350px;
  min-height: 10px;
  margin-right: 10px
}

.inputToDo::placeholder {
  font-family: 'Roboto', sans-serif;
  color: #6b6b6b; 
}

.submitButton {
  background-color: #3498db; 
  color: white;
  border: none;
  border-radius: 20px; 
  padding: 10px 40px; 
  min-width: 165px; 
  cursor: pointer;
  min-height: 10px;
  transition: background-color 0.3s; 
}

.submitButton:hover {
  background-color: #2980b9;
}

.list {
  list-style: none;
  padding: 0;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid #ccc;
}

.text {
  margin-right: 10px;
  font-size: x-large;
  color: whitesmoke;
  font-family: 'Roboto', sans-serif;
}

.delete-button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}